* {
    margin : 0;
    padding : 0;
}

body {
    display: flex;
    background-color: rgb(49, 48, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
}

.container {
    display :flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.image {
   clip-path: 50%;
   border-radius: 100px;
   border: 10px solid rgb(255, 255, 255);
   margin-bottom: 10px;
   margin-top: 30px;
}

.header {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.location {
    color: rgb(126, 201, 82);
}

.bio {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 100px;
    border: 10px solid rgb(22, 22, 22);
    padding: 10px;
    text-align: center;
}
